.game-board-area {
  width: 100%;
  padding: 50px 0;
}
.game-board {
  width: 300px;
  height: 300px;
  margin: 0px auto;
  .row {
    height: 33%;
    border-bottom: 1px solid #e3a702;
    &:last-of-type {
      border-bottom: 0;
    }
  }

  .cell {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 33%;
    border-right: 1px solid #e3a702;
    &:last-of-type {
      border-right: 0;
    }

    span {
      color: #808080;
      position: absolute;
      font-size: 70px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}